/*centering the logo before the animation*/

.animated-logo svg {
    width: 10em;
}

.animated-logo svg:hover {
    animation-name: re-center;
    animation-duration: 1s;
    animation-fill-mode: both;
}


/*static styles*/

.c-attached {
    stroke: #E53C6E;
}

.c-detached {
    transform-origin: 50% 50%;
    stroke-dashoffset: 0em;
    stroke-dasharray: 0em, 30em;
    transform: scaleX(-1);
    stroke: #E53C6E;
}

.b-circle {
    stroke: #4E4E4E;
}

.b-ascender {
    fill: #4E4E4E;
}


/*hover controls*/

.animated-logo svg:hover .c-attached {
    animation-name: attached;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animated-logo svg:hover .c-detached {
    animation-name: detached;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    transform-origin: 50% 50%;
}


/*.animated-logo svg:unhover .c-attached {
    animation-name: attached;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-direction: reverse;
}

.animated-logo svg:unhover .c-detached {
    animation-name: detached;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-direction: reverse;
}*/


/*animation defs*/

@keyframes attached {
    5% {
        stroke-dashoffset: -5.5em;
        stroke-dasharray: 20em;
    }
    50% {
        stroke-dashoffset: -25.5em;
        stroke-dasharray: 0em, 25em;
    }
    100% {
        stroke-dashoffset: -25.5em;
        stroke-dasharray: 0em, 25em;
    }
}

@keyframes detached {
    5% {
        stroke-dashoffset: 0m;
        stroke-dasharray: 0em, 30em;
    }
    45% {
        stroke-dashoffset: 0em;
        stroke-dasharray: -20em;
        transform: rotate(0deg) scaleX(-1);
        transform-origin: 50%, 50%;
    }
    80% {
        stroke-dashoffset: -2.5em;
        stroke-dasharray: 20em, 20em;
    }
    100% {
        stroke-dashoffset: -2.5em;
        stroke-dasharray: 20em, 20em;
        transform: rotate(-180deg) scaleX(-1);
        transform-origin: 50%, 50%;
    }
}

@keyframes re-center {
    30% {
        width: 18em;
    }
    100% {
        width: 18em;
    }
}