<div class="animated-logo">
    <svg height="11em" width="18em">
        <circle class="b-circle" stroke="darkgrey" stroke-width="0.8em" cx="5em" cy="6em" fill="transparent" r="4em"></circle>
        <rect   class="b-ascender" fill="darkgrey" height="6em" width="1.4em" y="0em" x="0.3em"></rect>
        <circle class="c-attached" cx="5em" cy="6em" fill="transparent" r="4em" stroke-dasharray="20em" stroke-dashoffset="-2.75em" stroke-width="0.8em"></circle>
        <circle class="c-detached" cx="13em" cy="6em" fill="transparent" r="4em" stroke-dasharray="0em" stroke-dashoffset="0em" stroke-width="0.8em"></circle>
    </svg>
</div>